.far .fa-edit {
    color: lightgray;
}

.far .fa-edit:hover {
    color: black;
}

.round-button {
    text-decoration: none;
    color: white;
}

.round-button:hover {
    text-decoration: none;
    color: white;
}

.slash::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 100%;
    margin: 0 1rem;
    transform: translateY(-0.3rem);
}

.fa-not-clicked {
    color: darkgrey;
}

.fa-not-clicked:hover {
    color: green;
    cursor: pointer;
}

.fa-clicked {
    color: green;
}

.fa-clicked:hover {
    color: darkgrey;
    cursor: pointer;
}

.fa-1x5 {
    font-size: 1.5em;
}

.fa-not-clicked-delete {

}

.fa-not-clicked-delete:hover {
    color: darkred;
    cursor: pointer;
}

.card {
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);
}