.far .fa-edit {
    color: lightgray;
}

.far .fa-edit:hover {
    color: black;
}

.round-button {
    text-decoration: none;
    color: white;
}

.round-button:hover {
    text-decoration: none;
    color: white;
}

.slash::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 100%;
    margin: 0 1rem;
    transform: translateY(-0.3rem);
}